<% include ./partials/head %>

<body style="font-family: 'Varela Round';">
  <div class="container-fluid">
  <% include ./partials/navbar %>
    <div class="container">
      <div class="jumbotron" style="margin-top:0px;">
        <h2 class="display-4 m-y-2 text-primary">Welcome to Boo</h2>
        <p class="text-center">
          <button class="btn btn-primary btn-lg">Join Now</button>
        </p>
      </div>
      <div class="row">
        <div class="card-columns">
          <% profiles.forEach(function(profile, index){ %>
            <div class="card card-padding">
              <div class="img">
                <span id="badge-round">26</span>
                <img src="<%= profile.avatar_url %>" class="img-fluid"/>
              </div>
              <div class="card-body">
                <h3 class="card-title">
                  <%= profile.fullname %>
                </h3>
                <small class="card-text">
                  <b>
                  Interested in <%= profile.interests.sex %>
                  </b>
                </small>
                <div class="card-text">
                  <p>
                    <i class="fa fa-phone"></i> <%= profile.contact.mobile %> | 
                    <i class="fa fa-gender"></i> <%= profile.gender %>
                  </p>
                </div>
                 <a href="/api/profiles/<%= profile._id %>" class="btn btn-info btn-block btn-sm pull-right">
                  <i class="fa fa-eye"></i> View
                </a>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
      <script src="javascripts/ie10-viewport-bug-workaround.js"></script>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</body>

</html>